.landing {
    background-color: #E7ECEF;
    display: flex;
    flex-direction: column;

    .pesquisar {
        display: flex;
        justify-content: flex-end;
        padding-right: 10%;
        padding-top: 10%;
        padding-bottom: 3%;


        .lupa {
            display: flex;
            border: 2px solid black;
            border-radius: 10px;
            background-color: #ffffff;
            input {
                border: none;
                background: none;
                width: 100%;
            }

            button{
            img{
                border: none;
                background: none;
            }}
        }
    }
}